<h4 class="titulo">Cadastro de produtos</h4>

<!-- Nome -->
<label for="inputNome" class="sr-only">Nome</label>
<input
  type="text"
  id="inputNome"
  name="nome"
  placeholder="Nome"
  class="form-control mb-2 col-md-4"
  [(ngModel)]="produto.nome"
  #nome="ngModel"
  required
  [ngClass]="{
    'is-invalid': nome.invalid && (nome.dirty || nome.touched),
    'is-valid': nome.valid && (nome.dirty || nome.touched)
  }"
/>
<!-- Nome Validações -->
<div
  class="invalid-feedback mb-3"
  *ngIf="nome.invalid && (nome.dirty || nome.touched)"
>
  <div *ngIf="nome.errors.required">O nome deve ser informado.</div>
</div>

<!-- Descrição -->
<label for="inputDescricao" class="sr-only">Descrição</label>
<input
  type="text"
  id="inputDescricao"
  name="descricao"
  placeholder="Descrição"
  class="form-control mb-2 col-md-4"
  [(ngModel)]="produto.descricao"
  #descricao="ngModel"
  required
  [ngClass]="{
    'is-invalid': descricao.invalid && (descricao.dirty || descricao.touched),
    'is-valid': descricao.valid && (descricao.dirty || descricao.touched)
  }"
/>
<!-- Descrição Validações -->
<div
  class="invalid-feedback mb-3"
  *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)"
>
  <div *ngIf="descricao.errors.required">A desrição deve ser preenchida.</div>
</div>

<!-- Preço -->
<label for="inputPreco" class="sr-only">Preço</label>
<input
  type="number"
  id="inputPreco"
  name="preco"
  placeholder="Preço"
  class="form-control mb-2 col-md-2"
  [(ngModel)]="produto.preco"
  #preco="ngModel"
  required
  [ngClass]="{
    'is-invalid': preco.invalid && (preco.dirty || preco.touched),
    'is-valid': preco.valid && (preco.dirty || preco.touched)
  }"
/>
<!-- Preço Validações -->
<div
  class="invalid-feedback mb-3"
  *ngIf="preco.invalid && (preco.dirty || preco.touched)"
>
  <div *ngIf="preco.errors.required">Preço é obrigatório.</div>
</div>

<!-- Imagem -->
<div class="input-group mb-3">
  <div class="custom-file col-md-6">
    <input
      type="file"
      class="custom-file-input"
      id="inputImage"
      aria-describedby="inputImagemAdd"
      (change)="inputImageChange($event.target.files)"
    />
    <label class="custom-file-label" for="inputImage">Escolha a imagem</label>
  </div>
</div>

<button
  class="btn btn-primary mb-2"
  type="submit"
  (click)="cadastrar()"
  [disabled]="ativarSpinner"
>
  <span
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
    *ngIf="ativarSpinner"
  ></span>
  Enviar
</button>

<button class="btn btn-secondary mb-2" [routerLink]="['/pesquisar-produtos']">Cancelar</button>

<div class="alert alert-danger col-md-4" *ngIf="mensagem" >
    {{ mensagem }}
</div>